@font-face {
  font-family: "iconfont"; /* Project id 3502716 */
  src: url('iconfont.woff2?t=1657162769903') format('woff2'),
       url('iconfont.woff?t=1657162769903') format('woff'),
       url('iconfont.ttf?t=1657162769903') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-triangle:before {
  content: "\e601";
}

.icon-right-arrow2:before {
  content: "\e628";
}

.icon-developing:before {
  content: "\e610";
}

.icon-checked:before {
  content: "\e608";
}

.icon-dollar:before {
  content: "\e880";
}

.icon-earth:before {
  content: "\e781";
}

.icon-settings:before {
  content: "\e630";
}

.icon-order:before {
  content: "\e737";
}

.icon-share:before {
  content: "\e60f";
}

.icon-record:before {
  content: "\e810";
}

.icon-time:before {
  content: "\e65f";
}

.icon-head-img:before {
  content: "\e677";
}

.icon-right-arrow:before {
  content: "\e600";
}

